{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        type="text/css"
        href="{% static 'uikit/dist/css/uikit.min.css' %}"/>

  <link rel="stylesheet" type="text/css" href="{% static 'css/printer.css' %}"/>

  <title>PrinterSCH</title>
</head>
<body>
<div class="uk-container">
  <div class="uk-margin-bottom uk-margin-top uk-sticky">
    <nav class="uk-navbar-container" uk-navbar>

      <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="{% url "index" %}">PrinterSCH</a>
          <ul class="uk-navbar-nav">
            <li>
              <a href="{% url "index" %}">
                <span uk-icon="icon:copy" class="uk-margin-small-right"></span> {% trans "Printers" %}
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
              <a href="{% url "new-printer" %}">
                <span uk-icon="icon:plus" class="uk-margin-small-right"></span> {% trans "New printer" %}
              </a>
            </li>
            <li>
              <a href="{% url "files" %}">
                <span uk-icon="icon:folder" class="uk-margin-small-right"></span> {% trans "Files" %}
              </a>
            </li>
            {% endif %}
            <li>
              <a href="https://github.com/DevTeamSCH/printer-client/releases">
                <span uk-icon="icon:download" class="uk-margin-small-right"></span> {% trans "Client" %}
              </a>
            </li>
            <li>
              <a href="{% url "FAQ" %}">
                <span uk-icon="icon:question" class="uk-margin-small-right"></span> {% trans "F.A.Q." %}
              </a>
            </li>
          </ul>
      </div>

      <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            {% if user.is_authenticated %}
                <div class="uk-button-group">
                    <a class="uk-button uk-button-primary" href="{% url "profile" %}">
                        <span uk-icon="icon:user"></span>{% trans "Profile" %}</a>

                    <a class="uk-button uk-button-danger" href="{% url "logout" %}">
                        <span uk-icon="icon: sign-out"></span> {% trans "Logout" %}
                    </a>
                </div>
            {% else %}
                <a class="uk-button uk-button-danger" href="{% url "social:begin" "authsch" %}">
                    <span uk-icon="icon: sign-in"></span> {% trans "Login" %}
                </a>
            {% endif %}
        </div>
      </div>

    </nav>
  </div>

  <div class="uk-background-muted uk-padding uk-panel">
      {% block content %}
      {% endblock %}
  </div>
  <div class="uk-container uk-padding">
    {% get_current_language as LANGUAGE_CODE %}
    <p style="text-align: center;">
      {% if LANGUAGE_CODE == "hu" %}
        <a href="en{{ request.path }}">English</a>
      {% endif %}
      {% if LANGUAGE_CODE == "en" %}
        <a href="{{ request.path|slice:"3:" }}">Hungarian</a>
      {% endif %}
       · ©Copyright DevTeam
    </p>
  </div>
</div>

<script src="{% static 'uikit/dist/js/uikit.min.js' %}" type="text/javascript"></script>
<script src="{% static 'uikit/dist/js/uikit-icons.min.js' %}" type="text/javascript"></script>

</body>
</html>
