{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        type="text/css"
        href="{% static 'uikit/dist/css/uikit.min.css' %}"/>

  <link rel="stylesheet" type="text/css" href="{% static 'css/printer.css' %}"/>

  <title>PrinterSCH</title>
</head>
<body>

  <div class="uk-container">
    <div class="uk-margin-bottom uk-margin-top uk-sticky uk-hidden@m">
      {% include "navbar_mobile.html" %}
    </div>

    <div class="uk-margin-bottom uk-margin-top uk-sticky uk-visible@m">
      {% include "navbar_desktop.html" %}
    </div>


    <div class="uk-background-muted uk-padding uk-panel">
        {% block content %}
        {% endblock %}
    </div>
    <div class="uk-container uk-padding">
      {% get_current_language as LANGUAGE_CODE %}
      <p style="text-align: center;">
        {% if LANGUAGE_CODE == "hu" %}
          <a href="en{{ request.path }}">English</a>
        {% endif %}
        {% if LANGUAGE_CODE == "en" %}
          <a href="{{ request.path|slice:"3:" }}">Hungarian</a>
        {% endif %}
         · ©Copyright DevTeam
      </p>
    </div>
  </div>

  <script src="{% static 'uikit/dist/js/uikit.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'uikit/dist/js/uikit-icons.min.js' %}" type="text/javascript"></script>

</body>
</html>
