{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<ul class="uk-list uk-list-space">
{% for user in users %}
    {% if user.is_active == True %}
    <li class="uk-h3">{{ user.name }}-{{ user.room }}</li>
    <li>
        <ul class="uk-list uk-list-striped uk-list-space">
            {% for printer in user.printers %}
            {% if printer.status == True %}
                <li>{{ printer.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
