{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<p>Nyomtató hozzáadásához meg kell adnod a szobaszámod.</p>
<form class="uk-form-stacked" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <div class="uk-form-controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <input class="uk-button uk-button-primary" type="submit" value="Mentés" />
</form>
{% endblock %}
