{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<h1 class="">{% trans "Active printers" %}</h1>
<ul uk-accordion>
        {% for user in users %}
            <li>
                <h3 class="uk-accordion-title">{{ user.get_full_name }} - {{ user.room }}</h3>
                <div class="uk-accordion-content">
                    {% for printer in user.printers %}
                        {% if printer.status == True %}
                            <dl class="uk-description-list uk-description-list-divider">
                                <dt>{{ printer.name }}</dt>
                                <dd>
                                    {% trans "Type" %}: {{ printer.get_type_display }} <br />
                                    {% trans "Comment" %}: {{ printer.comment }}
                                </dd>
                            </dl>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
</ul>
{% endblock %}
